body {
    padding: 0;
    margin: 0;
    background: white;
}

.navbar {
    background: white;
}

.navbar-brand{
    font-family: 'Shadows Into Light Two', cursive;
    color: black;
}

.nav-link {
    color: black;
}

.nav-link {
    margin-right: 1rem !important;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: #FFA800;
    text-decoration-thickness: 0.19rem;
}

.navbar-collapse{
    justify-content: flex-end;
}

header{
    background-size: cover;
    background-position: center;
    position: relative;
    background-color: #FFF2E3;
}

.description {
    left: 40%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -55%);
    text-align: left;
}

header h1{
    font-family: 'Zilla Slab', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    color: #030E49;
}

header p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
}

header button{
    left: 20%;
}

.wave-one {
    position: absolute;
    bottom: 0;
    right: 0;
}

.wave-two {
    position: absolute;
    top: 0;
    left: 0;
}

/*About Us Section*/
.about-us {
    margin: 4rem auto;
    padding: 2rem;
    position: relative;
}

.about-us-title{
    font-family: 'Shadows Into Light Two', cursive;
}

.about-us-subtitle{
    font-weight: lighter;
    color: #838383;
}

#about{
    padding-top: 4rem;
}

/*Services Section*/
.services-deck {
    background-color: #FFF2E3;
    padding: 2rem;
}

.services-deck h1 {
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-family: 'Zilla Slab', serif;
    color: #030E49;
}

.card-img-top{
    width: 80px;
    height: 80px;
    margin-top: 1rem;
}

.services-deck .card{
    border-radius: 1.25rem;
    height: 18.75rem;
}

#services {
    padding-top: 3rem;
}

/*Review Section*/
.review-deck{
    background-color: white;
    padding: 2rem;
}

.review-deck h1{
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-family: 'Zilla Slab', serif;
    color: #030E49;
}

.card-footer {
    text-align: left;
    background-color: #FFF2E3;
}

.card-footer-child{
    display: inline-block;
}

.card-footer-child p {
    margin-bottom: 0;
}

.card-footer-child img{
    margin-bottom: 1.6rem;
}

#reviews {
    padding-top: 1.5rem;
}

/*signup section*/

.signup-section{
    background-color: #FFF2E3;
    padding: 3rem;
}

.signup-section h1{
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-family: 'Zilla Slab', serif;
    color: #030E49;
}

.signup-section h5{
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-family: 'Zilla Slab', serif;
    color: red;
}

.signup-section .form{
    padding-bottom: 6rem;
}

.form-input {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    display: block;
    padding-top: 1rem;
}

.submit{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    display: block;
    margin-top: 1rem;
}

.form {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.formbox{
    height: 2.5rem;
    background: #FFFFFF;
    border: 0.125rem solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 0.3rem;
}

#signup {
    padding-top: 1.5rem;
}

.access-header{
    margin-top: 2rem;
    margin-left: 2rem;
}

.page-footer{
    background-color: #FFFFFF;
    padding: 5rem;
}

.news-container{
    background-color: white;
    padding: 2rem;
}

.news-container img{
    margin-top: 1rem;
    display: block;
    border-radius: 2rem;
    object-fit: cover;
    width: 10rem;
    height: 10rem;
}

.news-container h5{
    padding-top: 1rem;
}

@media (max-width: 812px) {

    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 5%;
        transform: none;
        text-align: center;
    }

    header h1{
    font-family: 'Zilla Slab', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    color: #030E49;
}
    header p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: .75rem;
}
    .wave-two {
        display: none;
    }

    .wave-one {
        display: none;
    }

}


@media (max-width: 1024px) {

    .description {
        left: 0;
        padding: 0 15px;
        position: absolute;
        top: 10%;
        transform: none;
        text-align: center;
    }

    .wave-two {
        display: none;
    }


    .about-us-title{
        text-align: center;
    }

    .about-us-subtitle{
        text-align: center;
    }

    .services-deck .row{
        padding: 0 0 2em 0;
    }

    .services-deck h1 {
        padding-top: 2em;
    }

    .review-deck .row{
        padding: 0 0 2em 0;
    }

    .review-deck h1 {
        padding-top: 2em;
    }

}




