{% include 'header.html' %}
<div class="access-header">

    {% if current_user.is_authenticated %}
    <h1>Welcome {{ current_user.username }}!</h1>
    {% endif %}

    <a class="btn btn-secondary" href="{{url_for('logout')}}" type="button" >Logout</a>
    <a class="btn btn-info" href="{{url_for('edit', user_id=current_user.id)}}" type="button">Edit Data</a>
    <a class="btn btn-danger" href="{{url_for('delete', user_id=current_user.id)}}" type="button">Delete Account</a>
</div>

<div class="news-container">
    {% for key,value in articles.iterrows() %}
    <img src="{{ value['urlToImage'] }}">
    <h5 value="{{ value['title'] }}">{{ value['title'] }}</h5>
    <p value="{{ value['description'] }}">{{ value['description'] }}</p>
    <a href="{{ value['url'] }}">{{ value['url'] }}</a>
    {% endfor %}
</div>

{% include 'footer.html' %}