{% include 'header.html' %}

<!--Landing Page -->
<header class="page-header header container-fluid">
    <img class="wave-two" src="../static/images/wave2.png" alt="modal image">
    <div class="description">
        <h1>GET THE LATEST NEWS ON CRYPTO & FINTECH</h1>
        <p>Be in the know with the latest information on all crypto & fintech you care about directly to your phone or email.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for ('signup', _anchor='signup')}}" role="button">SIGN UP</a>
    </div>
    <img class="wave-one" src="../static/images/wave1.png" alt="modal image">
</header>

<!--About Us Section -->
<div id="about">

    <div class="container about-us">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <h3 class="about-us-title">Concept By Akiwacky</h3>
                <h5 class="about-us-subtitle">Concept for a News Subscription Service</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Ut metus dui pulvinar dignissim tellus nulla vestibulum
                    egestas. Sollicitudin tempus, velit duis gravida lorem
                    neque elit. Suspendisse sagittis eu massa augue tellus
                    tellus. Laoreet sed id pellentesque consequat scelerisque
                    congue nullam tempor. Suspendisse amet aliquet venenatis
                    massa dolor vulputate. Porttitor ut nibh consectetur
                    commodo posuere.
                </p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="../static/images/about-img.png" class="img-fluid">

            </div>

        </div>
    </div>
</div>

<!--Services Section -->
<div id="services">

    <div class="services-deck">

        <h1>Services</h1>

        <div class="row row-cols-lg-3 row-cols-1 g-4 text-center">
            <div class="col">
                <div class="card mb-3">
                    <img class="card-img-top mx-auto d-block" src="../static/images/cryptocurrency.png" alt="Card-Image">
                    <div class="card-body">
                        <h5 class="card-title">CRYPTOCURRENCY</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Pretium
                            vestibulum vel lacinia tempor.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <img class="card-img-top mx-auto d-block" src="../static/images/cloud.png" alt="Card-Image">
                    <div class="card-body">
                        <h5 class="card-title">DIGITAL ASSETS</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Pretium
                            vestibulum vel lacinia tempor.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3">
                    <img class="card-img-top mx-auto d-block" src="../static/images/smartphone-2.png" alt="Card-Image">
                    <div class="card-body">
                        <h5 class="card-title">FINTECH</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet,
                            consectetur adipiscing elit. Pretium
                            vestibulum vel lacinia tempor.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Reviews Section-->
<div id="reviews">

    <div class="review-deck">
        <h1>Reviews</h1>

        <div class="row row-cols-lg-3 row-cols-1 g-4 text-center">
            <div class="col">

                <div class="card mb-3">
                    <div class="card border">
                        <div class="card-body">
                            <p class="card-text"> “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada at est in netus massa cras neque.”</p>
                        </div>
                        <div class="card-footer">
                            <div class="card-footer-child">
                                <img src="../static/images/pix.png" alt="Face Image">
                            </div>
                            <div class="card-footer-child">
                                <p style="width: 70px"> John Doe </p>
                                <p>CEO, XYZ Limited</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col">

                <div class="card mb-3">
                    <div class="card border">
                        <div class="card-body">
                            <p class="card-text"> “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada at est in netus massa cras neque.”</p>
                        </div>
                        <div class="card-footer">
                            <div class="card-footer-child">
                                <img src="../static/images/pix.png" alt="Face Image">
                            </div>
                            <div class="card-footer-child">
                                <p style="width: 70px"> John Doe </p>
                                <p>CEO, XYZ Limited</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col">

                <div class="card mb-3">
                    <div class="card border">
                        <div class="card-body">
                            <p class="card-text"> “Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada at est in netus massa cras neque.”</p>
                        </div>
                        <div class="card-footer">
                            <div class="card-footer-child">
                                <img src="../static/images/pix.png" alt="Face Image">
                            </div>
                            <div class="card-footer-child">
                                <p style="width: 70px"> John Doe </p>
                                <p>CEO, XYZ Limited</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Sign Up Page -->
<div id="signup">
    <div class="signup-section">

        <h1 >Sign Up</h1>
        {% for key, value in form.errors.items() %}
        <h5>{{value[0]}}</h5>
        {% endfor %}

        <div class="form">
            <form method="POST" action="{{ url_for ('signup', _anchor='signup')}}">
                {{ form.csrf_token }}
                {{ form.username.label(class_='form-input') }} {{ form.username(class_="formbox", size=20) }}
                {{ form.password.label(class_='form-input') }} {{ form.password(class_="formbox", size=20) }}
                {{ form.confirm.label(class_='form-input') }} {{ form.confirm(class_="formbox", size=20) }}
                {{ form.frequency.label(class_='form-input') }} {{ form.frequency(class_="formbox") }}
                {{ form.submit(class_="btn btn-primary btn-lg submit") }}
            </form>
        </div>

    </div>
</div>

{% include 'footer.html' %}
