{% include 'header.html' %}

<div class="signup-section">

    {% if is_edit %}
    <h1 >Edit Data</h1>
    {% for key, value in form.errors.items() %}
    <h5>{{value[0]}}</h5>
    {% endfor %}
    {% else %}
    <h1 >Sign In</h1>
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    <h5>{{message}}</h5>
    {% endfor %}
    {% endwith %}

    {% if is_edit %}
        <div class="form">
        <form method="POST" action="{{ url_for ('edit', user_id=current_user.id) }}">
            {{ form.csrf_token }}
            {{ form.username.label(class_='form-input') }} {{ form.username(class_="formbox", size=20) }}
            {{ form.frequency.label(class_='form-input') }} {{ form.frequency(class_="formbox") }}
            {{ form.submit(class_="btn btn-primary btn-lg submit") }}
        </form>
    </div>
    {% else %}
    <div class="form">
        <form method="POST" action="{{ url_for ('login') }}">
            {{ form.csrf_token }}
            {{ form.username.label(class_='form-input') }} {{ form.username(class_="formbox", size=20) }}
            {{ form.password.label(class_='form-input') }} {{ form.password(class_="formbox", size=20) }}
            {{ form.submit(class_="btn btn-primary btn-lg submit") }}
        </form>
    </div>
     {% endif %}
</div>

 {% if is_edit %}
 {% else %}
{% include 'footer.html' %}
    {% endif %}